.CFUserTextEncoding
.DS_Store
.Trash
.atom
.bash_history
.cache
.composer
.config
.cordova
.drush
.gem
.git
.gitconfig
.ionic
.node-gyp
.npm
.plugman
.rnd
.ssh
.subversion
.viminfo
.weinre
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
VirtualBox VMs
lib
vendor
.oh-my-zsh/
.zsh-update
.zsh_history
.zshrc-e
.npmrc
.cups/
.vscode
.wireshark-etc/
.wireshark/
AndroidStudioProjects/
.android/
.gradle/
.pm2/
.strong-pm/
weiyun
.fontconfig/
.zcompdump-Amber Mac-5.0.8
