.CFUserTextEncoding
.DS_Store
.Trash
.atom
.bash_history
.cache
.composer
.config
.cordova
.drush
.gem
.git
.gitconfig
.ionic
.node-gyp
.npm
.plugman
.rnd
.spf13-vim-3
.ssh
.subversion
.vim
.vimrc.bundles
.vimbackup
.viminfo
.vimrc
.vimrc.before
.vimrc.local
.vimswap
.vimundo
.vimviews
.weinre
.wiznote
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
VirtualBox VMs
lib
vendor
.oh-my-zsh/
.zcompdump-Amber Mac (3)-5.0.5
.zsh-update
.zsh_history
.zshrc-e
.npmrc
.cups/
