pajkplugin:
  title: "Pajk Plugin"
  paths: [
    "/Users/bopeng/c/pa/pajk-plugin"
  ]
pbdm:
  title: "Pbdm"
  paths: [
    "/Users/bopeng/c/pbdm"
  ]
"playground-react":
  title: "playground-react"
  paths: [
    "/Users/bopeng/c/playground/react"
  ]
paotuan:
  title: "Paotuan"
  paths: [
    "/Users/bopeng/c/pa/activity-h5/paotuan"
  ]
